@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$red: #e3242b;
$white: #fcf6f5ff;
$softBlue: #89abe3ff;
$black: #404040;
.PatientTable {
  h2 {
    text-align: center;
    margin-bottom: 3rem;
    color: $black;
  }
  @media (min-width: 768px) {
    margin: 0 2rem 2rem !important;
  }
}
.p-datatable-wrapper {
  margin-bottom: 4rem;
}
.p-button {
  background: $red;
  border: 1px solid $red;
}
.p-button:enabled:hover {
  background: white;
  color: #89abe3ff;
}
.search {
  margin-right: 3rem;
}
.p-datatable .p-datatable-tbody > tr {
  height: 5rem;
}
.p-toolbar {
  @media (max-width: 768px) {
    justify-content: center;
  }
  .p-toolbar-group-left {
    padding: 0.8rem 1rem 0.4rem;
  }
  .p-toolbar-group-right {
    padding: 0.4rem 1rem 0.8rem;
  }
  i {
    padding-top: 0.2rem;
  }
}
.p-inputtext {
  margin-top: 0.4rem;
}
