$white: #fcf6f5ff;
$softBlue: #89abe3ff;
$red: #e3242b;

.card {
  @media (min-width: 768px) {
    margin: 0 3rem;
    padding: 4rem;
  }
  @media (max-width: 768px) {
    margin: 0;
    padding: 2rem;
  }
}
.p-field {
  padding: 2rem 3rem;
}
.p-fluid {
  font-size: 1.6rem;
}
.p-fieldset {
  .p-fieldset-legend {
    background: $softBlue;
    color: $white;
    margin-left: 2rem;
  }
}

.pagButton {
  min-width: 10rem;
}
.p-button.p-button-text {
  background-color: $red;
  text-decoration: none;
  color: $white;
}
.ClientPage {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}
.PatientPage {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.error {
  text-align: center;
  color: $red;
  font-size: 1.2rem;
}
label {
  text-transform: capitalize;
  align-items: start;
}
input {
  align-items: end;
}
select.p-datepicker-year,
select.p-datepicker-month {
  border: none;
  font-size: 1.2em;
  padding: 0.5rem;
}
.PatientTable {
  h3 {
    text-align: center;
    margin-bottom: 2rem;
  }
  span {
    font-size: 1.4em;
  }
  color: $red;
  @media (min-width: 768px) {
    margin: 0 2rem 2rem;
  }
  @media (max-width: 768px) {
    margin: 0;
  }
}
