$white: #fcf6f5ff;
$softBlue: #89abe3ff;
$red: #e3242b;
.PatientRegistration {
  .RegHeader {
    margin: 40px 0;
  }
  h1 {
    text-align: center;
  }
  p {
    font-size: 1.4rem;
    text-align: center;
  }
  a {
    color: #42b983;
  }
  .RegButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
  }
  .RegButton button {
    height: 4rem;
    font-size: 1.7rem;
    background-color: $red;
    text-decoration: none;
    color: $white;
  }
}
.card {
  @media (min-width: 768px) {
    margin: 0 3rem;
    padding: 4rem;
  }
  @media (max-width: 768px) {
    margin: 0;
    padding: 2rem;
  }
}
.p-field {
  padding: 2rem 3rem;
}
.p-fluid {
  font-size: 1.6rem;
}
.p-fieldset {
  .p-fieldset-legend {
    background: $softBlue;
    color: $white;
    margin-left: 2rem;
  }
}

.pagButton {
  min-width: 10rem;
}
.p-button.p-button-text {
  background-color: $red;
  text-decoration: none;
  color: $white;
}
.btmPage {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.error {
  text-align: center;
  color: $red;
  font-size: 1.2rem;
}
label {
  text-transform: capitalize;
  align-items: start;
}
input {
  align-items: end;
}
select.p-datepicker-year,
select.p-datepicker-month {
  border: none;
  font-size: 1.2em;
  padding: 0.5rem;
}
.PatientTable {
  h4 {
    text-align: center;
    margin-bottom: 3rem;
  }
  span {
    font-size: 1.4em;
  }
  .name {
    color: $red;
    text-transform: capitalize;
    font-size: 1.2em;
  }
  @media (min-width: 768px) {
    margin: 0 6.5rem 2rem;
  }
  @media (max-width: 768px) {
    margin: 0rem;
  }

  .p-datatable-table {
    tr {
      td {
        font-size: 1.2em;
      }
      th {
        background-color: white;
        padding-bottom: 2rem;
      }
    }
  }

  padding-bottom: 3rem;
}
.btmPosition {
  padding-top: 10rem;
  .p-button.p-button-text {
    background-color: transparent;
    color: $red;
  }
}
